<nav class="navbar navbar-light bg-light">
    <ul class="nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav_artigos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artigos
            </a>
            <div class="dropdown-menu" aria-labelledby="nav_artigos">
                <a href="/article/index" class="nav-link">Admin</a>
                <div class="dropdown-divider"></div>
                <% if (typeof Artigles != "undefined" ){ %>
                    <% Artigles.forEach((Artigle)=>{ %>
                        <a class="dropdown-item" href="#"><%= Artigle.title %></a>
                    <% }) %>
                <% } %>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav_categoria" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categoria
            </a>
            <div class="dropdown-menu" aria-labelledby="nav_categoria">
                <a href="/admin/category" class="nav-link">Admin</a>
                <div class="dropdown-divider"></div>
                <% if (typeof Categorias != "undefined" ){ %>
                    <% Categorias.forEach((Categoria)=>{ %>
                        <a class="dropdown-item" href="/listar_categoria/<%=Categoria.id%>"><%= Categoria.title %></a>
                    <% }) %>
                <% } %>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav_categoria" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuarios
            </a>
            <div class="dropdown-menu" aria-labelledby="nav_categoria">
                <a href="/admin/usuarios" class="nav-link">Admin</a>
            </div>
        </li>
    </ul>

    <ul class="nav ml-auto">
        <li class="nav-item">
            <a href="/logout" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>

